{% if canRegister %}
    <div id="result"></div>
    <form
        data-request="onRegisterStar"
        data-request-files 
        data-request-flash>

        <div class="row">

            <div class="col-md-6">

                <div class="form-group">
                    <label for="registerName">Full Name</label>
                    <input
                        name="name"
                        type="text"
                        class="form-control"
                        id="registerName"   />
                    {{ errors.first('name') }}
                </div>

                <div class="form-group">
                    <label for="registerEmail">Email</label>
                    <input
                        name="email"
                        type="email"
                        class="form-control"
                        id="registerEmail"/>
                    {{ errors.first('email') }}
                </div>

                {% if loginAttribute == "username" %}
                    <div class="form-group">
                        <label for="registerUsername">Username</label>
                        <input
                            name="username"
                            type="text"
                            class="form-control"
                            id="registerUsername"/>
                        {{ errors.first('username') }}
                    </div>
                {% endif %}

                <div class="form-group">
                    <label for="registerPassword">Password</label>
                    <input
                        name="password"
                        type="password"
                        class="form-control"
                        id="registerPassword"/>
                    {{ errors.first('password') }}
                </div>

                <div class="form-group">
                    <label for="registerPassword">Password Confirmation</label>
                    <input
                        name="password_confirmation"
                        type="password"
                        class="form-control"
                        id="registerPasswordConfirm"/>
                </div>
            
            </div>

            <div class="col-md-6">

                <div class="form-group">
                    <label for="registerDob">Date of Birth</label>
                    <div class="input-group date" data-provide="datepicker">
                        <input name="dob"   type="text" class="form-control">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                    {{ errors.first('dob') }}
                </div>

                <div class="form-group">
                    <label for="registerJobTitle">Job Title</label>
                    <input
                        name="job_title"
                        type="text"
                        class="form-control"
                        id="registerJobTitle"   />
                    {{ errors.first('job_title') }}
                </div>

                <div class="form-group">
                    <label for="registerUniversity">University</label>
                    <input
                        name="university"
                        type="text"
                        class="form-control"
                        id="registerUniversity"   />
                    {{ errors.first('university') }}
                </div>

                <div class="form-group">
                    <label for="registerMobile">Mobile</label>
                    <input
                        name="mobile"
                        type="text"
                        class="form-control"
                        id="registerMobile"   />
                    {{ errors.first('mobile') }}
                </div>

            </div>

        </div>

        <hr>

        <div class="row">

            <div class="col-md-6">

                <div class="form-group">
                    <label for="registerAvatar">Avatar</label>
                    <input name="avatar" type="file" class="form-control-file" id="registerAvatar" accept="image/*" data-request="onImageUpload" data-request-files data-request-flash>

                    {{ errors.first('avatar') }}
                </div>

                <div id="imageResult">No image to preview</div>

            </div>

            <div class="col-md-6">

                <div class="form-group">
                    <label for="registerCampusLetter">Campus Letter</label>
                    <input name="campus_letter" type="file" class="form-control-file" id="registerCampusLetter" accept="application/pdf">

                    {{ errors.first('campus_letter') }}
                </div>

                <div class="form-group">
                    <label for="registerPaymentReceipt">Payment Receipt</label>
                    <input name="payment_receipt" type="file" class="form-control-file" id="registerPaymentReceipt" accept="application/pdf">

                    {{ errors.first('payment_receipt') }}
                </div>

                <div class="form-group">
                    <label for="registerSubmitWork">Submit Work</label>
                    <input name="submit_work" type="file" class="form-control-file" id="registerSubmitWork" accept="application/pdf">

                    {{ errors.first('submit_work') }}
                </div>
            
            </div>

        </div>

        <hr><hr>

        <button type="submit" class="btn btn-default">Register</button>
    </form>
{% else %}
    <!-- Registration is disabled. -->
{% endif %}

{% put scripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
    $('.datepicker').datepicker({
        format: 'mm/dd/yyyy',
        startDate: '-3d'
    });
</script>
{% endput %}