<div id="result"></div>
<form
    data-request="onSigninStar">
    <div class="form-group">
        <label for="userSigninLogin">{{ loginAttributeLabel }}</label>
        <input
            name="login"
            type="text"
            class="form-control"
            id="userSigninLogin"
            placeholder="Enter your {{ loginAttributeLabel|lower }}" />
        {{ errors.first('login') }}
    </div>

    <div class="form-group">
        <label for="userSigninPassword">Password</label>
        <input
            name="password"
            type="password"
            class="form-control"
            id="userSigninPassword"
            placeholder="Enter your password" />
        {{ errors.first('password') }}
    </div>

    <button type="submit" class="btn btn-default">Sign in</button>
</form>