<div class="report-widget">
    <h3>Overall</h3>
    <div class="scoreboard">
        <div data-control="toolbar">
            <div class="scoreboard-item title-value">
                <h4>Total</h4>
                <p><?php echo $countStar ?></p>
                <p class="description">total registered star</p>
            </div>

            <div class="scoreboard-item title-value">
                <h4>Length</h4>
                <p class="<?php echo ($diffWeekRegister > 0) ? 'positive' : ($diffWeekRegister < 0) ? 'negative' : '' ?>"><?php echo $diffWeekRegister ?></p>
                <p class="description">previous week: <?php echo $prevWeekRegister ?></p>
            </div>

            <div class="scoreboard-item control-chart" data-control="chart-pie">
                <ul>
                    <li data-color="#95b753">Active <span><?php echo $countActive ?></span></li>
                    <li data-color="#e5a91a">Innactive <span><?php echo $countInnactive ?></span></li>
                </ul>
            </div>

        </div>
    </div>
</div>