<!-- Nav -->
<nav id="layout-nav" class="navbar navbar-inverse navbar-fixed-top navbar-autohide" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ 'home'|page }}">October Demo</a>
        </div>
        <div class="collapse navbar-collapse navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class="separator hidden-xs"></li>
                <li class="{% if this.page.id == 'home' %}active{% endif %}"><a href="{{ 'home'|page }}">Home</a></li>
                <li class="{% if this.page.id == 'about' %}active{% endif %}"><a href="{{ 'ajax'|page }}">About</a></li>
                <li class="{% if this.page.id == 'rules' %}active{% endif %}"><a href="{{ 'rules'|page }}">Rules</a></li>
                <li class="{% if this.page.id == 'judges' %}active{% endif %}"><a href="{{ 'judges'|page }}">Judges</a></li>
                <li class="{% if this.page.id == 'disco_star' %}active{% endif %}"><a href="{{ 'disco_star'|page }}">Disco Star</a></li>
                <li class="{% if this.page.id == 'past_winner' %}active{% endif %}"><a href="{{ 'past_winner'|page }}">Past Winner</a></li>
                {% if user %}
                <li class="{% if this.page.id == 'profile' %}active{% endif %}"><a href="{{ 'profile'|page }}">My Profile</a></li>
                <li><a data-request="onLogout" data-request-data="redirect: '/'">Sign out</a></li>
                {% else %}
                <li class="{% if this.page.id == 'login' %}active{% endif %}"><a href="{{ 'login'|page }}">Login</a></li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>
