title = "Login"
url = "/login"
layout = "default"
is_hidden = 0

[session]
security = "guest"
redirect = "home"

[Star]
redirect = "home"
paramCode = "code"
forceSecure = 0
==
<div class="container">
{% if not user %}

    <div class="row">

        <div id="cont-sign-in">
            <div class="col-md-12">
                <h3>Sign in</h3>
                {% partial account ~ '::signin' %}
            </div>
            <p>Haven't Registered Yet? <a href="{{ 'register'|page }}">SIGN UP</a> here.</p>
        </div>

    </div>

{% endif %}
</div>