title = "Profile"
url = "/profile"
layout = "default"
is_hidden = 0

[session]
security = "user"
redirect = "home"
==
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% partial account ~ '::update' %}
        </div>
    </div>
</div>