title = "Register"
url = "/register"
layout = "default"
is_hidden = 0

[session]
security = "guest"
redirect = "home"

[Star]
redirect = "home"
paramCode = "code"
forceSecure = 0
==
<div class="container">
{% if not user %}

    <div class="row">

        <div id="cont-sign-up">
            <div class="col-md-12">
                <h3>Register</h3>
                {% partial account ~ '::register' %}
            </div>
            <p>Already have an account? <a href="{{ 'login'|page }}">SIGN IN</a> here.</p>
        </div>

    </div>

{% endif %}
</div>